<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1 style="color: brown;text-align: center">Online Bankin Application</h1>
  </div>
  
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" 
    [routerLink]="['/customerlogin']" 
    routerLinkActive="router-link-active"><u> Customer Login</u></a> 
     <a class="navbar-brand" 
    [routerLink]="['/employeelogin']" 
    routerLinkActive="router-link-active"></a>
  </nav>
 </div>
<router-outlet></router-outlet>
