  <!-- <form>
    <label>Transfer From</label>
     <input type="text">
     <br>
     <label>Account Number</label>
     <input type="text">
     <br>
     <label>Account Name</label>
     <input type="text">
     <br>
     <label>IFSC Code</label>
     <input type="text">
     <br>
     <label>Amount</label>
     <input type="text">
     <br>
     <label>Remarks</label>
     <input type="text">
     <br>
     <input type="submit" value="Transfer">
  </form>   -->
    <form action="/action_page.php">
    <br><br>
    <div class="form-group">
      <label for="email">Transfer From:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Transfer To:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div class="form-group">
            <label for="pwd">Amount:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <div class="form-group">
                <label for="pwd">Remarks:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
   
    <button type="submit" class="btn btn-success">Transfer</button>
  </form>  
  <router-outlet></router-outlet>