
    <h3>Generate Transactions</h3>
    <br><br>
    <div class="container">
        <br>
        <form>
                <div class="row">
                  <div class="col-md-6">
                <div class="form-group">
                  <label>Select Account</label>
                      <select  class="form-control"  id="from_anum" name="account" [(ngModel)]="acnum"  (change)="getAccNum(acnum)">
                              <option *ngFor="let account of accounts" value="{{account.acnumber}}"  >
                                    {{account.acnumber}}
                              </option>
                          </select>
                          
                    </div>
    
              </div></div>
            
              
              <button type="button" class="btn btn-info btn-lg" (click)="getTransactions(anum)" >Display Last 10 Transactions</button>
              
            <br><br>
    <table class="table  table-bordered shadow p-3 mb-5 bg-white rounded">
        <thead class="thead-dark">
          <tr class="table-info">
            <th scope="col"> Remarks </th>
            <th scope="col"> Amount </th> 
            <th scope="col"> Debit/Credit </th>
            <th scope="col"> Date </th>
            </tr></thead>
          <tbody class="table-stripped">
                <tr *ngFor="let transaction of last10trans" class="table-Info">
                  <td>
                      <div *ngIf="anum==transaction.fromAccountNo; else elsBlock">{{'Transfered  to'}} {{transaction.toAccountNo}} </div>
                      <ng-template #elsBlock>{{'Recieved from'}} {{transaction.fromAccountNo}}</ng-template>
                  </td>
                  <td>{{transaction.amount}} </td>
            <td [style.color]="anum==transaction.fromAccountNo?'red':'green' " >
            <div *ngIf="anum==transaction.fromAccountNo; else elseBlock"> {{'Debit'}}</div>
                <ng-template #elseBlock>{{'Credit'}}</ng-template>
          </td>
          <td>
              {{transaction.date}}
          </td>
              
            </tr>
          </tbody>
          
        </table>
      </form>
            </div>
            <router-outlet></router-outlet>